@import './base.css';

#app {
    max-height: 100vh;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-weight: normal;
}

body {
    background-color: black;
    border-top: 1px solid var(--radioactive-color);
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        /*display: flex;*/
        /*place-items: center;*/
    }

    #app {
        /*display: grid;*/
        /*grid-template-columns: 1fr 1fr;*/
        padding: 0 2rem;
    }
}

.fadeout {
    filter: opacity(0);
    transition: all 2000ms;
}

.game-view {
    max-width: 720px;
    height: 100%;
    font-family: Martian Mono, monospace;
}

.feedback-label {
    text-align: left;
    user-select: none;
    font-family: 'Righteous', serif;
    font-size: 15px;
}

.sokoban-label {
    float: left;
    user-select: none;
    font-family: 'Righteous', serif;
    color: var(--background-color);
    font-size: 24px;
}

.sokoban-display {
    font-weight: bold;
    font-family: 'Poppins', serif;
    color: var(--radioactive-color);
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: var(--radioactive-color);
}

.map-text-area {
    font-family: Martian Mono, monospace;
    font-weight: bold;
}

.sokoban-toast {
    filter: opacity(.95);
    border-radius: 5px;
    border-color: transparent;
    background-color: var(--radioactive-color);
    color: var(--foreground-color);
}

.sokoban-outlined-button {
    background-color: transparent;
    color: var(--radioactive-color);
    border-color: var(--radioactive-color)
}

.sokoban-call-for-action-button {
    background-color: var(--radioactive-color);
    color: var(--foreground-color);
    border-color: var(--radioactive-color)
}

.sokoban-outlined-button:active, .sokoban-outlined-button:focus {
    background-color: var(--foreground-color);
}

.sokoban-call-for-action-button:active, .sokoban-call-for-action-button:focus,
.sokoban-call-for-action-button:hover,
.sokoban-outlined-button:hover, .sokoban-call-for-action-button:hover,
.sokoban-outlined-button:focus-visible, .sokoban-call-for-action-button:focus-visible,
.sokoban-outlined-button:active, .sokoban-call-for-action-button:active {
    background-color: var(--radioactive-color) !important;
    border-color: var(--danger-color);
    color: unset !important;
}


.carousel-thumbnail {
    transition: drop-shadow ease 200ms;
}
.carousel-thumbnail .tns-nav-active {
    background: none;
    border: 2px solid var(--radioactive-color);
    border-radius: 5px;
}

.carousel-thumbnail li {
    display: inline-block;
    cursor: pointer;
}

.carousel-thumbnail img {
    width: 50px;
    height: auto;
    transition: filter 500ms ease;
}


.tns-item {
    transition: all ease 500ms;
    transform: scale(.4) translateY(30%);
}

.selected-slider {
    transform: scale(1) translateY(0);
}


.carousel-controls {
    width: 100%;
    position: relative;
    top: 40%;
    text-align: center;
    font-size: 3em;
    color: var(--radioactive-color);
    z-index: 1000;
    transition: 100ms all ease;
}

.carousel-controls :focus-visible {
    outline: none !important;
    border: none;
}

.carousel-controls .prev {
    left: 0;
}

.carousel-controls .prev:hover {
    transform: scale(1.1);
}

.carousel-controls .next {
    right: 0;
}

.carousel-controls .next:hover {
    transform: scale(1.1);
}

.carousel-controls li {
    display: block;
    position: absolute;
    top: 50%;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    padding: 0 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.carousel-controls li img {
    display: inline-block;
    vertical-align: middle;
}

.thumbnails .tns-nav-active {
    background: none;
    border-color: #000;
}
.popover {
    max-width: 50%;
    margin-top: 20px !important;
}
.popover-header {
    font-size: 1.5rem;
    background-color: var(--foreground-color) !important;
    user-select: none;
    font-family: 'Righteous', serif;
}
.popover ul li b {
    font-family: 'Martian Mono', serif;
    font-weight: bolder;
    font-size: 1rem;
    color: var(--danger-color);
}

h1, h2, h3, h4, h5, h6, a, p {
    user-select: none;
}

:root {
    --radioactive-color: #d4fa00;
    --oldstuff-color: #f3e493;
    --background-color: #d6d6d6;
    --foreground-color: #2c3e50;
    --danger-color: #502c3e;
}