@import './base.css';

#app {
    max-height: 100vh;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-weight: normal;
}

body {
    background-color: black;
    border-top: 1px solid var(--radioactive-color);
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        /*display: flex;*/
        /*place-items: center;*/
    }

    #app {
        /*display: grid;*/
        /*grid-template-columns: 1fr 1fr;*/
        padding: 0 2rem;
    }
}

.fadeout {
    filter: opacity(0);
    transition: all 2000ms;
}


.splash-view {
    max-width: 720px;
    /*height: 100vh;*/
    font-family: Martian Mono, monospace;
}

.game-view {
    max-width: 720px;
    height: 100%;
    font-family: Martian Mono, monospace;
}

.sokoban-label {
    float: left;
    user-select: none;
    font-family: 'Righteous', serif;
    color: var(--background-color);
    font-size: 20px;
}

.sokoban-display {
    font-family: 'Poppins', serif;
    color: var(--radioactive-color);
}

.sokoban-tooltip {
    float: left;
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: var(--radioactive-color);
}

.map-text-area {
    font-family: Martian Mono, monospace;
    font-weight: bold;
}

.sokoban-toast {
    filter: opacity(.75);
    border-radius: 5px;
    border-color: transparent;
    background-color: var(--radioactive-color);
    color: var(--foreground-color);
}

.sokoban-outlined-button {
    background-color: transparent;
    color: var(--radioactive-color);
    border-color: var(--radioactive-color)
}

.sokoban-call-for-action-button {
    background-color: var(--radioactive-color);
    color: var(--foreground-color);
    border-color: var(--radioactive-color)
}

.sokoban-outlined-button:active, .sokoban-outlined-button:focus {
    background-color: var(--foreground-color);
}

.sokoban-call-for-action-button:active, .sokoban-call-for-action-button:focus {
    background-color: var(--background-color);
}

.sokoban-outlined-button:hover, .sokoban-call-for-action-button:hover,
.sokoban-outlined-button:focus-visible, .sokoban-call-for-action-button:focus-visible,
.sokoban-outlined-button:active, .sokoban-call-for-action-button:active {
    background-color: unset !important;
}

:root {
    --radioactive-color: #d4fa00;
    --background-color: #d6d6d6;
    --foreground-color: #2c3e50;
    --danger-color: #502c3e;
}